@import '../../../shared.scss';
.cover {
  display: block;
  position:relative;
  height: 620px;
  overflow: hidden;
  width: 100%;

}
.cover--image {
  position: absolute;
  z-index: -1;
  top: 0;
  background: url('./cover.png');
  background-repeat: no-repeat;
  background-position: top center;
  width: 100vw;
  height: 620px;
}
.cover--container {
  grid-template-columns: auto 500px;
  grid-template-rows: auto;
  display: grid;
  max-width: 1100px;
  padding-top: 230px;
  margin-left: auto;
  margin-right: auto;
}

.cover--title {
  height: 231px;
  width: 362px;
  font-family: Spectral-bold;
  font-size: 64px;
  line-height: 77px;
  color: $company_white;

}
.cover--subtitle {
  width: 372px;
  margin-bottom: 20px;

  font-family: Spectral;
  font-size: 24px;
  line-height: 29px;
  color: $company_white;
}

.cover--text {
  width: 353px;
  margin-bottom: 20px;

  font-family: Quicksand;
  font-size: 15px;
  line-height: 22px;
  color: $company_white;
}
.cover--link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-family: Quicksand;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: $company_white;
  .cover--link--text {
    padding-left: 5px;
  }
  &:hover {
    color: $company_gold;
    .icon {
      path {
        fill: $company_gold;
      }
    }
  }
  margin-bottom: 44px;
}
.cover--button {
  background: $company_white;
  font-family: Quicksand;
  font-size: 15px;
  border-radius: 30px;
  width: 280px;
  height: 54px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: $company_white;
    background-color: $company_gold;
  }
  margin-bottom: 20px;
}

@include responsive('nonDesktop') {
  .cover, .cover--container, .cover--image {
    height: 800px;
  }
  .cover--image {
    background-size: auto 800px;
  }
  .cover--container {
    display: block;
    padding-top: 80px;
    padding-left: 20px;
  }
  .cover--title, .cover--subtitle, .cover--text {
    width: auto;
    height: auto;
  }
  .cover--title {
    font-size: 50px;
  }
}
