@import '../../../shared.scss';

.nav-button {
  font-family: Spectral;
  color: $company_black;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  line-height: 19px;
  //max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .nav-button--text {

  }
  .nav-button--underline {
    opacity: 0;
    width: 100%;
    height: 1px;
    margin-top: 10px;
  }
  &:hover, &.nav-button--selected {
    color: $company_gold;
    .nav-button--underline {
      opacity: 1;
      background: $company_gold;
    }
  }
}

.nav-button--color-black {
  color: $company_black;
  .nav-button--underline {
    background: $company_black;
  }
}

.nav-button--color-white {
  color: $company_white;
  .nav-button--underline {
    background: $company_white;
  }
}
