
@import '../../../shared.scss';

.first-block--grid {
  display: grid;
  grid-template-columns: 1fr 450px 1fr;
  grid-template-rows: auto;
  padding-left: 60px;
  padding-right: 60px;
}

.first--image {
  width: 450px;
}

.first-block--grid--item {
  text-align: left;
  margin-bottom: 55px;
}
.first-block--grid--item--text {
  font-family: Quicksand;
  font-size: 15px;
  line-height: 22px;
  color: #8D8E93;
}
.first--right-grid {
  padding-left: 20px;
}

@include responsive('nonDesktop') {
  .first-block--grid {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
  .first--image {
    width: 90vw;
  }
}
