.header {
  display: fixed;
  top: 0;
}
.header--white {
  background: white;
}
.header--mobile {
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 20px;
  padding-top: 19px;
  height: 60px;
}
.header--mobile--logo {
  margin-left: 52px;
}

.header--mobile--menu {
  position: absolute;
  top: 0;
  left: 0;

}
.header--mobile--right-buttons {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 195px);
  padding-left: 10px;
  .icon {
    height: 24px;
    width: 24px;
  }
  .number-circle {
    height: 24px;
    width: 24px;
  }
}
